body {
    background: url("/assets/img/guitar.png") no-repeat center;
    position: relative;
}

.navbar {
    margin-bottom: 0;
}

.badge {
    margin-right: 20px;
    background: none;
}

.badge-image {
    display: block;
    max-width: 248px;
    max-height: 60px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.badge-ios {
    display: inline-block;
    overflow: hidden;
    background: url(https://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg) no-repeat center;
    background-size: contain;
    width: 248px;
    height: 60px;
}

.centered {
    text-align: center;
}

.bs-docs-sidebar {
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*.bs-docs-sidebar .active>a {*/
    /*color: #563d7c;*/
    /*font-weight: 700;*/
/*}*/

/* all links */
.bs-docs-sidebar .nav>li>a {
    border-left: 2px solid transparent;
}
/* active & hover links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>li>a:hover,
.bs-docs-sidebar .nav>li>a:focus {
    color: #563d7c;
    text-decoration: none;
    background-color: transparent;
    border-left: 2px solid #563d7c;
}
