.navbar {
    margin-bottom: 0;
}

.badge {
    margin-right: 20px;
    background: none;
}

.badge-image {
    display: block;
    max-width: 248px;
    max-height: 60px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.badge-ios {
    display: inline-block;
    overflow: hidden;
    background: url("/assets/img/badge_appstore-lrg.svg") no-repeat center;
    background-size: contain;
    width: 248px;
    height: 60px;
}

.centered {
    text-align: center;
}
