@()

@indexMain("api") {
    @bs.headerRow("Alarm clock management")
    @bs.rowColumn("col-md-6") {
        <p class="lead">Control the alarm clock on the MusicPimp server using the following API.</p>
        <h4>Get all alarms <small>GET /alarms</small></h4>
        <p>Get an array of the currently configured alarms.</p>
        <p>Example response:</p>
        <pre>[
    {
        "id":"f1bf52c6-eb9e-4407-8b8e-91444a78c14c",
        "job":{
            "track":{
                "id":"Paola+-+Interstellar+Love.mp3",
                "title":"Interstellar Love",
                "artist":"Paola",
                "album":"Stockcity Girl",
                "duration":201,
                "size":4840094
            }
        },
        "when":{
            "hour":8,
            "minute":13,
            "days":["mon","tue","wed","thu","fri","sat","sun"]
        },
        "enabled":true
    }
]</pre>
        <h4>Get alarm <small>GET /alarms/alarm_id_here</small></h4>
        <p>Get an alarm with a given ID.</p>
        <h4>Remove alarm <small>HTTP POST to /alarms</small></h4>
        <p>Remove an alarm:</p>
        <code>{"cmd": "delete", "id": "alarm_id_here"}</code>
        <h4>Add or update an alarm <small>HTTP POST to /alarms</small></h4>
        <p>Add a new alarm or update an existing one. When updating, include the ID of the alarm you update. If no ID is provided,
        the interpretation is that you add a new alarm; the server will generate a new ID.</p>
        <pre>{
    "cmd":"save",
    "ap":{
        "id":"f1bf52c6-eb9e-4407-8b8e-91444a78c14c",
        "job":{
            "track":"Paola+-+Interstellar+Love.mp3"
        },
        "when":{
            "hour":16,
            "minute":24,
            "days":["sun","mon","tue","wed","thu","fri","sat"]
        },
        "enabled":true
    }
}</pre>
        <h4>Start an alarm <small>HTTP POST to /alarms</small></h4>
        <p>Manually start playback of an alarm with a given ID. Useful for testing.</p>
        <code>{"cmd": "start", "id": "alarm_id_here"}</code>
        <h4>Stop an alarm <small>HTTP POST to /alarms</small></h4>
        <p>Stop any alarm currently playing.</p>
        <code>{"cmd": "stop"}</code>
    }
}