@(requests: Html, responses: Html, httpEndpoints: Html, serverEvents: Html, codeSamples: Html)

@indexMain("api") {
    @bs.headerRow("Develop", "col-md-12")
    @bs.rowColumn("col-md-9") {
        <p class="lead">Develop apps for MusicPimp using the JSON API.</p>
    }
    @bs.row {
        @util.div("col-md-8") {
            @requests
            @responses
            @httpEndpoints
            @serverEvents
            @codeSamples
        }
        <nav class="col-md-3 bs-docs-sidebar" id="sidenav">
            <ul class="nav nav-stacked affix" id="sidebar">
                <li>
                    <a href="#requests">Requests</a>
                </li>
                <li>
                    <a href="#responses">Responses</a>
                </li>
                <li>
                    <a href="#endpoints">HTTP endpoints</a>
                    <ul class="nav nav-stacked">
                        <li><a href="#library">Library</a></li>
                        <li><a href="#player">Player</a></li>
                        <li><a href="#playlist">Playlist</a></li>
                        <li><a href="#alarms">Alarms</a></li>
                        <li><a href="#misc">Miscellaneous</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#server">Server events</a>
                </li>
                <li>
                    <a href="#code">Code samples</a>
                </li>
            </ul>
        </nav>
    }
}
