@()

@indexMain("api") {
    @bs.headerRow("Develop", "col-md-12")
    @bs.rowColumn("col-md-9") {
        <p class="lead">Develop apps for MusicPimp using the JSON API.</p>
    }
    @bs.row {
        @util.div("col-md-6") {
            <h2>Requests</h2>
            <p>Clients may interact with the MusicPimp server using HTTP requests and/or
                <a href="http://en.wikipedia.org/wiki/WebSockets">
                    WebSocket <i class="glyphicon glyphicon-external-link"></i></a> connections.</p>
            <p>Obtain information using HTTP GET requests, and send JSON-formatted messages either
                in the body of HTTP POST requests or as WebSocket messages.</p>
            <p>To upload files, HTTP POST them as <strong>multipart/form-data</strong>.</p>
            <h3>Media Types</h3>
            <p>When making requests, indicate the desired response format in the <strong>Accept</strong> HTTP header.
                The JSON response formats are versioned, and in order to ensure API compatibility,
                clients should be explicit about which version of the format they accept. The following formats are
                currently valid:</p>
            <ul>
                @*<li>application/vnd.musicpimp.v24+json</li>*@
                <li>application/vnd.musicpimp.v18+json</li>
                <li>application/vnd.musicpimp.v17+json</li>
                <li>application/vnd.musicpimp+json</li>
                <li>application/json</li>
            </ul>
            <p>Remember this also when opening WebSocket connections; the value in the Accept header of the
                HTTP request that initiates a WebSocket connection will determine the format of the messages.
            <p>Whenever backwards-incompatible changes are made to the JSON response format in future MusicPimp server
                updates, they will be made under a new version. However, new content (name/value pairs) may be added to an existing
                format without notice. The examples in this documentation are based on the latest format,
                application/vnd.musicpimp.v18+json.</p>
            <p><span class="label label-info">Note</span> To force the server to respond with the latest JSON format
                regardless of the Accept header, append query parameter <code>f=json</code> to the request URL.<p/>
            <h3>Authentication</h3>
            <p>HTTP Basic authentication is supported and required most of the time.
                Set your credentials in the <strong>Authorization</strong> HTTP header of the request.
            <p>For example, if your username is <code>i_love</code> and password <code>michael</code>,
                the value of the Authorization header should be <code>Basic aV9sb3ZlOm1pY2hhZWw=</code>,
                where <code>aV9sb3ZlOm1pY2hhZWw=</code> is <code>i_love:michael</code> base64-encoded.</p>
        }
        @util.div("col-md-6") {
            <h2>Responses</h2>
            <p>The MusicPimp server responds to requests in either <strong>JSON</strong> (application/json)
                or <strong>HTML</strong> (text/html), depending on what the client has requested.</p>
            <h3>Compression</h3>
            <p>The responses are gzip-compressed provided that the
                <strong>Accept-Encoding</strong> HTTP header of the request contains <code>gzip</code>.</p>
            <h3>Success and Failure</h3>
            <p>A successful HTTP status code indicates that the request was processed successfully. The response
                of a failed request will have an HTTP status code indicating failure.</p>
            <p>In addition to the information you get from the status code, failed API requests may contain
                a JSON response content indicating the reason your request went titsup.
                Example: <code>{"reason":"Invalid parameter."}</code></p>
        }
    }
    @bs.row {
        @util.div("col-md-6") {
            <h2>Client-side methods</h2>
            <p>HTTP requests are made using URLs like <code>
                http://my_server_ip:8456@Home.serverPlaybackResource</code>.</p>
            <h3 id="library"> Library </h3>
            <p>Library folders contain audio tracks and subfolders. Use the following methods to browse and retrieve items from the library.</p>
            <h4>Get root folder <small>GET /folders</small> </h4>
            <p>Returns the contents of the root folder of the music library.</p>
            <p>Example response:</p>
            <pre>{
    "folders":[
        {
            "id":"100+Hits+-+Dance+Mix",
            "title":"100 Hits - Dance Mix",
            "path":"100 Hits - Dance Mix"
        },
        {
            "id":"22+Pistepirkko",
            "title":"22 Pistepirkko",
            "path":"22 Pistepirkko"
        },
        {
            "id":"2pac",
            "title":"2pac",
            "path":"2pac"
        },
        {
            "id":"3+Doors+Down",
            "title":"3 Doors Down",
            "path":"3 Doors Down"
        }
    ],
    "tracks":[
        {
            "id":"00+-+Preludio+Obsesivo.mp3",
            "title":"Preludio Obsesivo",
            "artist":"Rata Blanca",
            "album":"Rata Blanca",
            "duration":222,
            "size":3108553
        },
        {
                "id":"00+-+Turn+Me+On.mp3",
                "title":"Turn Me On",
                "artist":"Kevin Lyttle",
                "album":"Summer In The City - Latin Party",
                "duration":175,
                "size":4225234
        },
        {
                "id":"A+Ha+-+Take+On+Me.mp3",
                "title":"Take On Me [October 1985]",
                "artist":"A-Ha",
                "album":"The Definitive Singles Collection 1984-2004",
                "duration":227,
                "size":5470208
        }
    ]
}</pre>
            <h4>Get subfolder <small>GET /folders/my_folder_id_here </small> </h4>
            <p> Returns the contents of the specified music library folder.</p>
            <p> <span class="label label-info">Note</span> First request the contents of the root folder
                in order to get a list of subfolders for further browsing.</p>
            <h4>Get track <small>GET /tracks/my_track_id</small> </h4>
            <p>Retrieves the file with the specified ID. Supply this to a media player that accepts a URI as media source, for example.</p>
            <h4>Get track, with Accept-Ranges<small> GET /downloads/my_track_id</small> </h4>
            <p>The same as above except that the HTTP response contains the string <code>bytes</code>
                in the <strong>Accept-Ranges</strong> header.</p>
            <h4>Search <small>GET /search?term=tillbaka+till+samtiden&limit=100</small></h4>
            <p>Search for a track, album or artist. Specify your search query in the <strong>term</strong> query
            parameter, and optionally set the maximum number of returned results in the <strong>limit</strong> query
            parameter.</p>
            <p>Example response:</p>
            <pre>[
    {
        "id":"Kent%5C2007+-+Tillbaka+Till+Samtiden%5C01_kent-elefanter.mp3",
        "title":"Elefanter",
        "artist":"Kent",
        "album":"Tillbaka Till Samtiden",
        "duration":321,
        "size":7639850
    },
    {
        "id":"Kent%5C2007+-+Tillbaka+Till+Samtiden%5C02_kent-berlin.mp3",
        "title":"Berlin",
        "artist":"Kent",
        "album":"Tillbaka Till Samtiden",
        "duration":276,
        "size":7143257
    }
]</pre>
            <h3>Remote playback control</h3>
            <p>Control a remote playback device using WebSockets or HTTP POST calls. Two types of remote playback devices
                are supported:</p>
            <ul>
                <li>the MusicPimp server</li>
                <li>clients connected to the MusicPimp server, such as a web browser</li>
            </ul>
            <p>To use the MusicPimp server as the playback device, open a WebSocket connection to
                <code>@Home.serverWebSocketResource</code> or HTTP POST to <code>@Home.serverPlaybackResource</code>
                .
                To control the playback devices of clients connected to the MusicPimp server, open a WebSocket connection to
                <code>@Home.webPlayWebSocketResource</code> or HTTP POST to <code>@Home.webPlayPostResource</code>
                .
                The available commands are described below.</p>
            <h4>Play track <small>HTTP POST or WebSocket</small></h4>
            <p>Start playback of the track with the given ID using the following HTTP request body or WebSocket message:
                <code>{"cmd": "play", "track": "my_track_id"}</code>.</p>
            <p> <span class="label label-info">Note</span> Browse the music <a href="#library">library</a>
                to obtain IDs of available tracks. If the track you wish to play is not
                located on the MusicPimp server, see the next item instead.</p>
            <h4>Play uploaded file <small>POST to @Home.serverPlaybackResource/uploads</small></h4>
            <p> Starts playback of the file uploaded as multipart/form-data.</p>
            <p><span class="label label-warning">Note</span> Uploaded playback is at the moment
                only supported when the playback device is the MusicPimp server.</p>
            <h4>Stop playback <small>HTTP POST or WebSocket</small></h4>
            <p>Stop playback: <code>{"cmd": "stop"}</code>.</p>
            <h4>Resume playback <small>HTTP POST or WebSocket</small></h4>
            <p>Resume playback: <code>{"cmd": "resume"}</code>.</p>
            <h4>Seek <small>HTTP POST or WebSocket</small></h4>
            <p>Seek playback to the specified position, in seconds, of the current track: <code>
                {"cmd": "seek", "value": 42}</code>.</p>
            <h4>Adjust volume <small>HTTP POST or WebSocket</small></h4>
            <p>Adjust the volume, which is an integer in the range [0, 100]: <code>
                {"cmd": "volume", "value": 42}</code>.</p>
            <h4>Mute and unmute <small>HTTP POST or WebSocket</small></h4>
            <p>Turn mute on or off (true/false): <code>{"cmd": "mute", "value": true}</code>.</p>
            <h4>Status <small>GET @Home.serverPlaybackResource</small></h4>
            <p>Returns a server player status message.</p>
            <p>Example response:</p>
            <pre>{
    "track":{
        "id":"Paola+-+Interstellar+Love.mp3",
        "title":"Interstellar Love",
        "artist":"Paola",
        "album":"Stockcity Girl",
        "duration":201,
        "size":4840094
    },
    "state":"Started",
    "position":14,
    "volume":40,
    "mute":false,
    "playlist":[
        {
            "id":"Paola+-+Interstellar+Love.mp3",
            "title":"Interstellar Love",
            "artist":"Paola",
            "album":"Stockcity Girl",
            "duration":201,
            "size":4840094
        },
        {
            "id":"cheap+trick+-+hello+there.mp3",
            "title":"Hello There",
            "artist":"Cheap Trick",
            "album":"The Essential Cheap Trick",
            "duration":100,
            "size":2573904
        }
    ],
    "playlist_index":0
}</pre>
            <h4>Upload library track <small>POST to /playback/stream</small></h4>
            <p>Instruct the MusicPimp server to perform a <strong>multipart/form-data</strong> upload
                of a track in its library to a remote destination.</p>
            <pre>{
    "track": "my_track_id",
    "uri": "destination_uri",
    "username": "destination_username",
    "password": "destination_password"
}</pre>
            <p>The credentials will be put into the <strong>Authorization</strong> header of the upload request
                as if the destination required HTTP Basic authentication.</p>
            <h3>Playlist</h3>
            <h4>Add <small>HTTP POST or WebSocket</small></h4>
            <p>Add the track with the specified ID to the playlist: <code>
                {"cmd": "add", "track": "my_track_id"}</code>.</p>
            <h4>Add uploaded file <small>POST to /playlist/uploads</small></h4>
            <p>Add the file uploaded as multipart/form-data to the playlist.</p>
            <h4> Remove <small>HTTP POST or WebSocket</small></h4>
            <p>Remove the track at the specified playlist index from the playlist: <code>
                {"cmd": "remove", "value": 3}</code>.</p>
            <h4> Skip <small>HTTP POST or WebSocket</small></h4>
            <p>Start playback of the track at the specified playlist index: <code>{"cmd": "skip", "value": 3}</code>
                .</p>
            <h3> Miscellaneous </h3>
            <h4>Ping <small>GET /ping</small></h4>
            <p>Pings the server. Returns a 200 OK HTTP response on success.</p>
            <p><span class="label label-info">Note</span>
                Ping is the only API call that does not require authentication.</p>
            <h4>Authenticated ping <small>GET /pingauth</small> </h4>
            <p>Pings the server and validates the supplied credentials. Responds with 200 OK and the server version as JSON content
                if the credentials are valid, 401 Unauthorized if authentication fails.</p>
            <p>Example response:</p>
            <pre>{"version":"1.8.0"}</pre>
        }
        @util.div("col-md-6") {
            <h2>Server-side events</h2>
            <p>You can subscribe to server-side playback updates.
                This is useful when you want to display a player in your app even though playback happens on another device.
                To subscribe, open a WebSocket connection to <code>@Home.serverWebSocketResource</code>
                on the MusicPimp server.</p>
            <h3>Events</h3>
            <p>The following events are sent by the server.</p>
            <h4>Time updated</h4>
            <p>Sent when playback has progressed in time. The playback position is given as an integer in seconds. Sent at least once per second during playback:</p>
            <pre>{"event":"time_updated","position":42}</pre>
            <h4>Track changed</h4>
            <p>The player track has changed.</p>
            <pre>{
    "event":"track_changed",
    "track":{
        "id":"Pearl+Jam+-+Man+Of+The+Hour.mp3",
        "title":"Man Of The Hour",
        "artist":"Pearl Jam",
        "album":"My Lost Dogs",
        "duration":225,
        "size":5408768
    }
}</pre>
            <p>The track size is reported in bytes.</p>
            <h4>Playstate changed</h4>
            <p>Sent when the playstate has changed.</p>
            <pre>{"event":"playstate_changed","state":"Stopped"}</pre>
            <p>The playstate is one of the following: <strong>Playing</strong>, <strong>Paused</strong>, <strong>
                Stopped</strong>, <strong>NoMedia</strong>.
                NoMedia implies that the player has no track set.</p>
            <h4>Playlist modified</h4>
            <p>The tracks in the playlist have been modified. A separate event exists for when the playlist index has changed; see the next item.</p>
            <pre>{
    "event":"playlist_modified",
    "playlist":[
        {
            "id":"Pearl+Jam+-+Man+Of+The+Hour.mp3",
            "title":"Man Of The Hour",
            "artist":"Pearl Jam",
            "album":"My Lost Dogs",
            "duration":225,
            "size":5408768
        },
        {
            "id":"ryan+adams+-+desire.mp3",
            "title":"Desire",
            "artist":"Ryan Adams",
            "album":"48 Hours",
            "duration":231,
            "size":5546654
        }
    ]
}</pre>
            <h4>Playlist index changed</h4>
            <p>The player has skipped to a new song in the playlist.</p>
            <pre>{"event":"playlist_index_changed","playlist_index":42}</pre>
            <h4>Volume changed</h4>
            <p>The volume has changed. The volume is an integer value within [0,100].</p>
            <pre>{"event":"volume_changed","volume":42}</pre>
            <h4>Mute toggled</h4>
            <p>Mute has been turned on or off.</p>
            <pre>{"event":"mute_toggled","mute":true}</pre>
        }
    }
    @bs.rowColumn("col-md-8") {
        <h2>Code samples</h2>
        <p>As an example, let's use the API to ping a locally installed MusicPimp server and validate our credentials.
            We make a request and expect to get an HTTP response with status code 200 (<a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html">
            OK</a>).</p>
        <p>Here's how it can be done in Scala, using either <a href="http://hc.apache.org/httpcomponents-client-ga/index.html">
            Apache HttpClient</a> or
            the <a href="http://www.playframework.com/documentation/2.1.x/ScalaWS">Web Services
            library</a> in <a href="http://www.playframework.com/">Play Framework</a>:</p>
        @util.script("https://gist.github.com/malliina/5509130.js")
        <p>Here's the same in C#, using either <a href="https://www.nuget.org/packages/Microsoft.Net.Http">
            Microsoft HTTP Client Libraries (HttpClient)</a>
            or <a href="http://restsharp.org/">RestSharp</a>:</p>
        @util.script("https://gist.github.com/malliina/5513464.js")
    }
}