@()

@docuBase("deb", Home.linuxConfFile)(debInstall)(debUninstall)

@debInstall = {
    <div class="row">
        <div class="span6">
            <div class="page-header">
                <h1>DEB</h1>
            </div>
            @linuxReqs()
            <h2> Installation </h2>
            <p> Download <a href="@Home.debUrl">@Home.debFileName</a> and execute:
                <code>dpkg -i @Home.debFileName</code> </p>
        </div>
    </div>
}

@debUninstall = {
    <p><code>apt-get purge musicpimp</code></p>
}
