@(os: String)(content:Html)

@indexMain("documentation") {
    @bs.headerRow("Documentation","col-md-6")
    @bs.rowColumn("col-md-6"){
        <div class="btn-group" src-toggle="buttons-radio">
            <button type="button" class="btn btn-primary @(" active".when(os == "win"))" onclick="location.href='@routes.Home.win()'">Windows</button>
            <button type="button" class="btn btn-primary @(" active".when(os == "deb"))" onclick="location.href='@routes.Home.deb()'">DEB</button>
            <button type="button" class="btn btn-primary @(" active".when(os == "rpm"))" onclick="location.href='@routes.Home.rpm()'">RPM</button>
            <button type="button" class="btn btn-primary @(" active".when(os == "wp"))" onclick="location.href='@routes.Home.wp()'">Windows Phone</button>
        </div>
    }
    @bs.rowColumn("col-md-6"){
        @content
    }
}