@(os: String, confPath: String)(installation: Html)(uninstallation: Html)

@docPlain(os) {
    <div class="row">
        <div class="col-md-12">
            @installation
            <h2>Usage</h2>
            <ol>
                <li>Navigate to <a href="http://localhost:8456/">http://localhost:8456/</a> and login.</li>
                <li>Select tab <strong>Manage</strong> and specify folders containing MP3s under <strong>Music Folders</strong>:
                    <p><img src="@routes.Assets.at("img/usage-folders2.png")" class="img-polaroid"/></p></li>
                <li>Open the <strong>MusicPimp</strong> app for your mobile device and add your
                    PC as a music endpoint:
                    <p><img src="@routes.Assets.at("img/usage-wp8.png")" class="img-polaroid"/></p></li>
                <li>Enjoy your music.</li>
            </ol>
            <h2>Supported Audio Formats</h2>
            <p>MusicPimp supports MP3 playback.</p>
            <h2>Connectivity</h2>
            <p>Music is streamed over WLAN, mobile networks or Bluetooth.</p>
            <h2> Advanced Configuration </h2>
            <p>Advanced settings can be configured in <code>musicpimp.conf</code>
                in your installation directory. The path is typically <code>@confPath</code>.
                Reasonable defaults are provided.</p>
            <h4> HTTPS </h4>
            <p> To enable HTTPS, specify the following parameters in <code>musicpimp.conf</code>: </p>
            <table class="table table-hover">
                <thead></thead>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
                <tbody>
                    <tr>
                        <td>https.port</td>
                        <td>The HTTPS port to use</td>
                    </tr>
                    <tr>
                        <td>https.keyStore </td>
                        <td>The path to the keystore</td>
                    </tr>
                    <tr>
                        <td>https.keyStorePassword</td>
                        <td>The keystore password</td>
                    </tr>
                    <tr>
                        <td>https.keyStoreType</td>
                        <td>Optionally, the keystore type. Defaults to JKS.</td>
                    </tr>
                </tbody>
            </table>
            <p> A keystore with a self-signed certificate is included in the MusicPimp software distributions
                in the folder <code>config/security/test-cert.jks</code> under the installation directory.
                The keystore passphrase is <strong>musicpimp</strong>.</p>
            <h2>Logging</h2>
            <p>MusicPimp writes a log to <code>logs/musicpimp.log</code> under the installation directory.
                At midnight, the log from the previous day is archived to a separate file and a new file is written
                 for the following day. The active log file is also archived if it reaches 100 MB in size
                (during the same day.) Logs older than 30 days are finally deleted.</p>
            <h2> Uninstallation </h2>
            @uninstallation
        </div>
    </div>
}