@()

@docuBase("win", Home.windowsConfFile) {
    @bs.headerRow("Windows", "col-md-12")
    @bs.rowColumn("col-md-12") {
        <h2>System Requirements</h2>
        <ul>
            <li><a href="http://java.com/en/download/index.jsp">Java 7</a>.</li>
            <li>A modern browser, such as <a href="http://windows.microsoft.com/en-us/internet-explorer/ie-10-worldwide-languages">
                Internet Explorer 10</a>
                or a recent version of <a href="http://getfirefox.com">Firefox</a>
                or <a href="http://www.google.com/chrome">Chrome</a>.</li>
            <li><a href="http://www.microsoft.com/net/download">.NET Framework</a> 3.5 or higher.</li>
        </ul>
        <h2>Installation</h2>
        <p>Download and run <a href="@Home.msiDownload.url">@Home.msiDownload.fileName</a>.</p>
    }
} {
    <p>Uninstall MusicPimp using the Add/Remove Programs section in the Control Panel.</p>
}