@()

@indexNoContainer("home") {
    <div class="jumbotron">
        <div class="container">
            <h1>MusicPimp <small class="pull-right">No ads. No social media. Just music.</small></h1>
            <p class="lead">Control remote music libraries with your phone. Play the music on your phone, home stereo system, in your car or stream it anywhere.</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <h2>Get it <a class="btn btn-primary" href="@Home.msiUrl"><i class="glyphicon glyphicon-download"></i> Download for Windows</a></h2>
                <p class="lead"><a href="@routes.Home.downloads()">Download</a>
                    the server for <a href="@Home.msiUrl">Windows</a>
                    or Linux. Get the <strong>MusicPimp</strong> apps
                    for <a href="@Home.androidAppUri">Android</a>, <a href="@Home.winPhoneAppUri">Windows Phone</a> and <a href="@Home.winStoreAppUri">Windows 8</a>.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a href="https://play.google.com/store/apps/details?id=org.musicpimp" class="pull-right visible-lg visible-md">
                    <img alt="Android app on Google Play"
                    src="https://developer.android.com/images/brand/en_app_rgb_wo_60.png" />
                </a>
            </div>
            <div class="col-md-3">
                <a href="@Home.winPhoneAppUri" class="visible-lg visible-md">
                    <img alt="Windows Phone app"
                    src="@routes.Assets.at("img/badge_winphone2.png")"/>
                </a>
            </div>
            <div class="col-md-3">
                <a href="@Home.winStoreAppUri" class="visible-lg visible-md">
                    <img alt="Windows Store app"
                    src="@routes.Assets.at("img/badge_winstore.png")"/>
                </a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 col-md-offset-1">
               <h2>New! MusicBeamer</h2>
               <p class="lead">Stream tracks from your music library to any PC using <strong>MusicBeamer</strong> at <a href="http://beam.musicpimp.org">http://beam.musicpimp.org</a>.</p>
            </div>
            <div class="col-md-4">
                <img src="@routes.Assets.at("img/upload-alt-blue-128.png")" class="pull-left visible-lg visible-md"/>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <h2>PC to Phone</h2>
                <p><img src="@routes.Assets.at("img/pc-phone.png")"/></p>
                <p class="lead">Make the music library on a PC available for playback on your phone.</p>
            </div>
            <div class="col-md-4">
                <h2>Phone to PC</h2>
                <p><img src="@routes.Assets.at("img/phone-pc.png")"/></p>
                <p class="lead">Play the music stored on your phone on speakers connected to a PC.</p>
            </div>
            <div class="col-md-4">
                <h2>PC to Phone to PC</h2>
                <p><img src="@routes.Assets.at("img/pc-phone-pc.png")"/></p>
                <p class="lead">Play music from your PC on another PC. Control playback with your phone.</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h2>Getting Started</h2>
                <p class="lead">Get started in minutes. Check the <a href="@routes.Home.win()">documentation</a> for instructions.</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <h2>Develop</h2>
                <p>Build cool apps using the JSON <a href="@routes.Home.api()">API</a>.</p>
            </div>
            <div class="col-md-4 col-md-offset-4">
                <h2>Donate</h2>
                <p>Support a good cause. Donate any amount you like to the development team to obtain a perpetual software license.</p>
                @paypalButton()
            </div>
        </div>
    </div>
}
