@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="@routes.Assets.at("img/guitar-18x16.png")" />
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="@routes.Assets.at("css/custom.css")">
        <link rel="stylesheet" href="@routes.Assets.at("css/footer.css")">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div id="wrap">
            @content
            <div id="push"></div>
        </div>
        <div id="footer">
            @util.div("container"){
                <p class="muted credit pull-right">Developed by <a href="http://mskogberg.info">Michael Skogberg</a>.</p>
            }
        </div>
    </body>
</html>